.navbar-default {
    background-color:teal;
    background-image: none;
    background-repeat: no-repeat;
   }
#logos{
    height: 35px;
    width: 70px;
}
#navi{
    color: white;
    background-color: #06090F;
}
#jumb{
    height: 400px;
    background-color: #06090f;
}
.display-4{
    color: white;
    font-size: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: bold;
}
.greentext{
    color: green;
    font-size: 40px;
}
.lead{
    color: white;
    font-size: 20px;
}
#ff{
    color: white;
    background-color: green;
    border: none;
}
#jumb2{
    height: 400px;
    color: #06090F;
    background-color: white;
}
.lead1{
    
    color: black;
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#container23{
    text-alig: right;
}
